In [2]:
import pandas as pd

In [2]:
df = pd.read_csv('taxi_data.csv', nrows=100)

In [3]:
pd.to_datetime(df.tpep_pickup_datetime)
pd.to_datetime(df.tpep_dropoff_datetime)

0    2024-01-01 01:17:43
1    2024-01-01 00:09:36
2    2024-01-01 00:35:01
3    2024-01-01 00:44:56
4    2024-01-01 00:52:57
             ...
95   2024-01-01 01:27:40
96   2024-01-01 00:33:39
97   2024-01-01 00:47:59
98   2024-01-01 01:38:39
99   2024-01-01 00:30:39
Name: tpep_dropoff_datetime, Length: 100, dtype: datetime64[ns]

In [4]:
# Create an open SQL database connection object or a SQLAlchemy connectable
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [7]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [9]:
df_iter = pd.read_csv('taxi_data.csv', iterator=True, chunksize=100000)

In [10]:
df = next(df_iter)

In [11]:
len(df)

100000

In [12]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, Airport_fee]
Index: []

In [14]:
df.head(n=0).to_sql(name='taxi_data', con=engine, if_exists='replace')

0

In [16]:
%time df.to_sql(name='taxi_data', con=engine, if_exists='append')

CPU times: user 2.96 s, sys: 40 ms, total: 3 s
Wall time: 4.56 s

1000

In [17]:
from time import time

while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 4.721 second
inserted another chunk, took 5.041 second
inserted another chunk, took 4.755 second
inserted another chunk, took 4.759 second
inserted another chunk, took 4.801 second
inserted another chunk, took 4.878 second
inserted another chunk, took 4.962 second
inserted another chunk, took 4.901 second
inserted another chunk, took 5.025 second
inserted another chunk, took 4.927 second
inserted another chunk, took 5.355 second
inserted another chunk, took 4.994 second
inserted another chunk, took 5.053 second
inserted another chunk, took 4.982 second
inserted another chunk, took 5.343 second
inserted another chunk, took 5.059 second
inserted another chunk, took 5.254 second
inserted another chunk, took 5.236 second
inserted another chunk, took 5.227 second
inserted another chunk, took 4.917 second
inserted another chunk, took 5.192 second
inserted another chunk, took 5.110 second
inserted another chunk, took 4.747 second
inserted another chunk, took 5.155 second
inserted another chunk, took 5.044 second
inserted another chunk, took 4.941 second
inserted another chunk, took 5.135 second

/var/folders/4f/55080_ld7_v_tjqc9c_5r86w0000gn/T/ipykernel_28186/3767695624.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 4.658 second
inserted another chunk, took 2.812 second

StopIteration:

In [5]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [6]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265